.jewellery-img-ctn {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

.jewellery-img-wrapper {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  width: 100%;
}

.jewellery-img {
  width: 100%;
  height: 25rem;
  overflow: hidden;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.jewellery-img > img {
  width: 100%;
  height: 100%;
  transition: all 0.4s ease-in-out;
}

.jewellery-img:hover > img {
  transform: scale(1.05);
  filter: grayscale(60%);
}

.title-ctn > p {
  font-size: 20px;
  font-family: "Alegreya Sans", sans-serif;
  width: 80%;
  color: #a8a6a6;
}

.title-ctn > p > span {
  font-size: 40px;
  font-family: "Satisfy", cursive;
  color: #565555;
  letter-spacing: 5px;
}

@media (min-width: 550px) {
  .jewellery-img {
    width: 50%;
  }
  .title-ctn > p {
    font-size: 28px;
  }
  .title-ctn > p > span {
    font-size: 60px;
  }
}
