.main {
  /* width: 100vw; */
  position: relative;
}

.main-body {
  /* margin: 1rem 20rem; */
  max-width: 960px;
  margin: 0 auto;
}

.title-ctn {
  text-align: center;
  color: #282828;
}

.default-nav {
  display: none !important;
}

.slide-container,
.each-slide,
.each-slide > img {
  width: 100%;
  height: 100%;
}

.first-title {
  color: #373946;
  direction: ltr;
  font-family: "Source Sans Pro";
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.2em;
}

.second-title {
  font-size: 30px;
  color: #373946;
  direction: ltr;
  font-family: "Source Sans Pro";
  font-weight: 300;
  font-style: normal;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  line-height: initial;
  opacity: 0.5;
}

.third-title {
  font-size: 20px;
  color: #373946;
  direction: ltr;
  font-family: "Source Sans Pro";
  font-weight: 300;
  font-style: normal;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  line-height: initial;
  opacity: 0.5;
}

.about-us-ctn {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  margin-bottom: 5rem;
}

.about-us {
  border: 1px solid #282828;
  padding: 20px 60px;
  color: #282828;
}

.journey-ctn {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 4rem;
}
.journey {
  display: flex;
  width: 100%;
  margin: 0;
  padding: 0;
}

.journey-ima-ctn {
  width: 50%;
  /* height: 30rem; */
  margin: 0;
  padding: 0;
}

.image-one {
  background-image: url(../assets/images/istockphoto-3.jpg) !important;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.image-two {
  background-image: url(../assets/images/istockphoto-3.jpg) !important;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.image-three {
  background-image: url(../assets/images/istockphoto-3.jpg) !important;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.image-four {
  background-image: url(../assets/images/istockphoto-5.jpg) !important;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.journey-wrapper {
  width: 50%;
  margin: 0;
  padding: 0;
}

.journey-paragraph-ctn {
  width: 100%;
  padding: 1rem 0rem 2rem 0rem;
}

.journey-country {
  color: #373946;
  direction: ltr;
  font-family: "EB Garamond", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  padding: 0 2rem;
}

.journey-paragraph {
  color: #373946;
  direction: ltr;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 18px;
  padding: 0 2rem;
  opacity: 0.5;
}

.certification {
  width: 100%;
  background-color: #f5f1f1;
  padding: 40px 0;
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.certification > p {
  max-width: 514px;
  width: calc(100% - 178px);
  text-align: center;
  font-size: 24px;
  font-family: "EB Garamond", serif;
  color: #373946;
}

.quote {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quote > p {
  margin-top: 3rem;
  max-width: 514px;
  width: calc(100% - 178px);
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 100;
  font-size: 30px;
  color: #373946;
  text-align: center;
}

.quote-img-ctn {
  display: flex;
  width: 100%;
  margin: 3rem 0;
}

.quote-img-one {
  width: 50%;
  height: 30rem;
  background-image: url(../assets/images/istockphoto-5.jpg) !important;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.quote-img-two {
  width: 50%;
  background-image: url(../assets/images/istockphoto-6.jpg) !important;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.form-ctn {
  background-color: #f5f1f1;
  padding: 3rem 1rem;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
}

.form-first-row {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 1rem;
}

.first-row {
  display: flex;
  flex-direction: column;
}

.first-row > label {
  color: #bcbcbc;
}

.first-row > input {
  border: none;
  padding: 10px 3rem;
}

.form-second-row > label {
  color: #bcbcbc;
}

.form-second-row > textarea {
  border: none;
  padding: 10px 3rem;
}
