.main {
  width: 100%;
  position: relative;
  margin-top: 0;
  padding-top: 0;
}

.main-body {
  width: 100%;
  padding: 10rem 0 0 0;
}

.title-ctn {
  text-align: center;
  color: #282828;
  margin: 4rem 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.title-ctnn {
  text-align: center;
  color: #282828;
  margin: 4rem 4px 1rem 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.first-title {
  font-size: 12px;
  color: #373946;
  direction: ltr;
  font-family: "Source Sans Pro";
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.2em;
  margin: 0 4px;
  padding: 0;
}

.second-title {
  font-size: 18px;
  color: #88898d;
  direction: ltr;
  font-family: "Alegreya Sans", sans-serif;
  font-weight: 100;
  font-style: normal;
  margin: 0;
  padding: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  line-height: initial;
  max-width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.third-title {
  font-size: 14px;
  color: #373946;
  direction: ltr;
  font-family: "Alegreya Sans", sans-serif;
  font-weight: 300;
  font-style: normal;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  line-height: initial;
  opacity: 0.5;
}

.fourth-title {
  font-size: 16px;
  color: #282828;
  direction: ltr;
  font-family: "Alegreya Sans", sans-serif;
  font-weight: 300;
  font-style: normal;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  line-height: initial;
  opacity: 0.8;
}

.main-image-ctn {
  margin: 0 4px;
}

.slide-container,
.each-slide,
.each-slide > img {
  width: 100%;
  height: 100%;
}

.default-nav {
  display: none !important;
}

.about-uss-ctn {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.about-uss {
  border: 1px solid #282828;
  padding: 6px 20px;
  color: #282828;
  font-size: 12px;
  font-family: "Alegreya Sans", sans-serif;
}

.about-us-ctn {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.about-us {
  /* border: 1px solid #282828; */
  padding: 6px 20px;
  color: #282828;
  font-size: 12px;
}

.journey-ctn {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  margin: 0 4px;
}

.journey {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  margin: 0;
  padding: 0;
}

.journey-ima-ctn {
  width: 90%;
  height: 15rem;
}

.image-one {
  background-image: url(https://lirp.cdn-website.com/ef5e8968/dms3rep/multi/opt/cutting_black_opal_2939-1920w-1920w.jpg) !important;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.image-two {
  background-image: url(https://lirp.cdn-website.com/ef5e8968/dms3rep/multi/opt/black_opal_4703-1920w.jpg) !important;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.image-three {
  background-image: url(https://lirp.cdn-website.com/ef5e8968/dms3rep/multi/opt/blue_sapphire_cushion-ec459356-1920w.jpg) !important;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.image-four {
  background-image: url(https://lirp.cdn-website.com/ef5e8968/dms3rep/multi/opt/blue_sapphires_2772-04a2d756-1920w.jpg) !important;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.image-five {
  background-image: url(https://lirp.cdn-website.com/ef5e8968/dms3rep/multi/opt/IMG_9730_gray_b-6f01a5b3-1920w.jpg) !important;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.image-six {
  background-image: url(https://lirp.cdn-website.com/ef5e8968/dms3rep/multi/opt/aquamarine_6148-bad8c3db-cfabfabf-1920w.jpg) !important;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.image-seven {
  background-image: url(https://lirp.cdn-website.com/ef5e8968/dms3rep/multi/opt/sapphire_ring-07166c11-1920w.jpg) !important;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.image-eight {
  background-image: url(../assets/images/background2.avif) !important;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.journey-wrapper {
  width: 100%;
  margin: 0;
  padding: 0;
}

.journey-paragraph-ctn {
  width: 100%;
  padding: 1rem 0rem 1rem 0rem;
}

.journey-country {
  color: #373946;
  direction: ltr;
  font-family: "EB Garamond", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
}

.journey-paragraph {
  color: #95969d;
  direction: ltr;
  font-family: "Alegreya Sans", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 15px;
  margin: 0 1rem;
}

.certification {
  width: 100%;
  background-color: #f5f1f1;
  padding: 10px 0px;
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.certification > p {
  text-align: center;
  padding: 0 4px;
  font-size: 12px;
  font-family: "EB Garamond", serif;
  color: #373946;
}

.quote {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quote > p {
  margin: 1rem 4px;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 100;
  font-size: 10px;
  color: #373946;
  text-align: center;
}

.quote-img-ctn {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.quote-img-one {
  width: 100%;
  height: 10rem;
  background-image: url(https://lirp.cdn-website.com/ef5e8968/dms3rep/multi/opt/amethyst-349b4aa0-1920w.jpg) !important;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.quote-img-two {
  width: 100%;
  height: 10rem;
  background-image: url(https://lirp.cdn-website.com/ef5e8968/dms3rep/multi/opt/ruby_oval-1920w.jpg) !important;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.form-ctn {
  background-color: #f5f1f1;
  padding: 3rem 1rem;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form-first-row {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 1rem;
}

.first-row {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.first-row > label {
  color: #bcbcbc;
  font-size: 12px;
}

.first-row > input {
  border: none;
  padding: 10px 4rem;
}

.form-second-row {
  display: flex;
  flex-direction: column;
}

.form-second-row > label {
  color: #bcbcbc;
  font-size: 12px;
}

.form-second-row > textarea {
  border: none;
  width: 100%;
}

.privacy-policy {
  font-size: 10px;
  color: #bcbcbc;
}

.privacy-policy > a {
  color: #bcbcbc;
  text-decoration: underline;
}

.form-btn {
  display: flex;
  justify-content: flex-end;
}

.form-btn > button {
  background-color: #fff;
  color: #bcbcbc;
  border: none;
  padding: 8px 2rem;
  cursor: pointer;
  margin-top: 1rem;
  font-size: 12px;
}

.form-btn > button:hover {
  opacity: 0.8;
}

.partners {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}
.address {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.main-address {
  color: #282828;
  font-size: 12px;
  margin-bottom: 2rem;
}

.main-partners {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-partners-one {
  width: 6rem;
  margin-bottom: 1rem;
}

.main-partners-two {
  width: 3rem;
  margin-bottom: 1rem;
}

.main-partners-one > img,
.main-partners-two > img {
  width: 100%;
}

.partners-name {
  font-size: 12px;
}

.social-ctn {
  display: flex;
  justify-content: center;
}

.social-list {
  margin: 0.5rem;
}

.social-list > a > i {
  color: #bcbcbc;
  font-size: 14px;
}

.right-reserved {
  text-align: center;
  margin: 4rem 0 2rem 0;
}

.right-reserved > p {
  font-size: 10px;
  color: #282828;
}

@media (min-width: 350px) {
  .quote-img-ctn {
    flex-direction: row;
    width: 100%;
    margin: 3rem 0;
  }

  .quote-img-one {
    width: 50%;
    height: 20rem;
  }
  .quote-img-two {
    width: 50%;
    height: auto;
  }
  .first-title {
    font-size: 16px;
  }

  .second-title {
    font-size: 24px;
  }

  .third-title {
    font-size: 18px;
  }

  .fourth-title {
    font-size: 28px;
  }
}

@media (min-width: 700px) {
  .journey-ctn {
    width: 100%;
    margin-top: 4rem;
  }
  .journey {
    flex-direction: row;
    width: 100%;
    text-align: start;
    align-items: inherit;
    margin: 0;
    padding: 0;
  }

  .journey-ima-ctn {
    width: 50%;
    height: auto;
  }

  .journey-wrapper {
    width: 50%;
  }

  .journey-country {
    font-size: 24px;
    padding: 0 2rem;
  }

  .journey-paragraph {
    font-size: 18px;
    padding: 0 2rem;
    margin: 0;
  }
}

@media (min-width: 1050px) {
  .main-body {
    max-width: 960px;
    margin: 0 auto;
    padding-top: 13rem;
  }

  .first-title {
    font-size: 18px;
  }

  .second-title {
    font-size: 30px;
  }

  .third-title {
    font-size: 20px;
  }

  .fourth-title {
    font-size: 35px;
  }

  .about-uss-ctn {
    margin-top: 3rem;
    margin-bottom: 5rem;
  }

  .about-uss {
    padding: 20px 60px;
    font-size: 16px;
  }

  .about-us-ctn {
    margin-top: 3rem;
    margin-bottom: 5rem;
  }

  .about-us {
    padding: 20px 60px;
    font-size: 16px;
  }

  .journey-country {
    font-size: 24px;
  }

  .journey-paragraph {
    font-size: 18px;
  }

  .certification {
    padding: 40px 0;
    margin-top: 3rem;
  }

  .certification > p {
    max-width: 514px;
    width: calc(100% - 178px);
    font-size: 24px;
  }

  .quote-img-one {
    width: 50%;
    height: 30rem;
  }

  .quote > p {
    margin: 3rem 0 0 0;
    max-width: 514px;
    width: calc(100% - 178px);
    font-size: 30px;
  }

  .form-ctn {
    /* padding: 3rem rem; */
    width: 100%;
  }

  .form-first-row {
    flex-direction: row;
    justify-content: space-between;
  }

  .first-row {
    margin-bottom: 0;
  }

  .first-row > label {
    font-size: 16px;
  }

  .first-row > input {
    padding: 15px 4rem;
  }

  .form-second-row > label {
    font-size: 16px;
  }

  .privacy-policy {
    font-size: 16px;
  }

  .form-btn > button {
    padding: 10px 3rem;
    margin-top: 0;
    font-size: 14px;
  }

  .partners {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 4rem;
  }

  .main-address {
    color: #282828;
    margin-bottom: 0;
    font-size: 16px;
  }

  .main-partners-one {
    width: 10rem;
    margin-bottom: 0;
  }

  .main-partners-two {
    width: 5rem;
    margin-bottom: 0;
  }

  .partners-name {
    font-size: 16px;
  }

  .social-list {
    margin: 1rem;
  }

  .social-list > a > i {
    font-size: 20px;
  }

  .right-reserved > p {
    font-size: 14px;
  }
}
