.header-ctn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

a {
  text-decoration: none;
}

.nav-ctn {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #7c7b7b;
  margin-bottom: 2rem;
}
.nav-ctn a {
  color: #9c9999;
  margin: 0 2rem 0 2rem;
}

.nav-ctn a:active,
.nav-ctn a:hover {
  color: #282828;
  border-bottom: 1px solid #282828;
}
