html {
  box-sizing: border-box;
}

body {
  margin: 0 !important;
  padding: 0 !important;
  position: relative;
  background-color: beige;
}

.logo {
  max-width: 6rem;
}

.logo > a > img {
  width: 100%;
}

.main {
  width: 100%;
  position: relative;
  margin: 0 !important;
  padding: 0;
  animation: scaleAnim 4s ease-in-out;
  background-color: #fff;
}

@keyframes scaleAnim {
  0% {
    transform: translateY(-100%) scaleY(0);
  }
  100% {
    transform: translateY(0) scaleY(1);
  }
}

.main-body {
  width: 100%;
  padding: 4rem 0 0 0 !important;
}

@media (min-width: 700px) {
  .logo {
    max-width: 10rem;
  }

  .main-body {
    max-width: 960px;
    margin: 0 auto;
    padding-top: 10rem !important;
  }
}
